@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"/>
                            <#input id="rebateNo" name="转款序号" value="${item.rebateNo}" underline="true"/>
                            <#input id="money" name="回款金额" value="${item.money}" underline="true"/>
                            <#input id="orderId" name="订单ID" value="${item.orderId}" underline="true"/>
                            <#input id="rebateTime" name="回款时间" value="${item.rebateTime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="qrCodeAli" name="支付宝转款码" value="${item.qrCodeAli}" underline="true"/>
                            <#input id="qrCodeWx" name="微信转款码" value="${item.qrCodeWx}" underline="true"/>
                            <#input id="confirmTime" name="确认时间" value="${item.confirmTime}" underline="true"/>
                            <#input id="status" name="状态" value="${item.status}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="OrderRebateInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="OrderRebateInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/orderRebate/orderRebate_info.js"></script>
@}
