@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>服务商回款记录</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="hidden-xs" id="OrderRebateTableToolbar" role="group">
                            <button type="button" class="btn btn-primary button-margin" onclick="OrderRebate.settlement()">
                                <i class="fa fa-user-secret"></i>&nbsp;选项确认结算
                            </button>
                        </div>
                        <#table id="OrderRebateTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/orderRebate/orderRebateServiceProvider.js"></script>
@}
